In [92]:
import pickle
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process

In [93]:
clf = pickle.load(open('model.pkl','rb'))

In [94]:
movie_features_df=pickle.load(open('movie_features_df.pkl','rb'))

In [95]:
movie_names=pickle.load(open('movie_names.pkl','rb'))

In [96]:
def get_matches(query, choices, limit=5):
    results = process.extract(query, choices, limit=limit)
    return results

In [102]:
text=input("Enter the name of the movie:")
movie_list=get_matches(text, movie_names)
new_list=[]
for i in range (5):
    if movie_list[i][1]>70:
        new_list.append(movie_list[i])
movie_nam=[]
for i in range (len(new_list)):
    movie_nam.append(str(new_list[i][0]))
d={'movie':movie_nam} 
data=pd.DataFrame(d)
data.drop_duplicates(inplace=True)

Enter the name of the movie:3 idiots

In [103]:
data

                                               movie
0  3 EXTREMES (THREE... EXTREMES) (SAAM GAANG YI)...
1                                    3 NINJAS (1992)
2                          3 NINJAS KICK BACK (1994)
3                         3 NINJAS KNUCKLE UP (1995)
4        3 NINJAS: HIGH NOON ON MEGA MOUNTAIN (1998)

In [99]:
data['movie'].iloc[0]

'INCEPTION (2010)'

In [110]:
rec_mov=[]
try:
    query_index = np.where(movie_features_df.index=='INCEPTION (2010)')[0][0]
    distances, indices = clf.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 10)
    for i in range(10):   
        rec_mov.append(movie_features_df.index[indices.flatten()[i]])
    d={'recommended_movies':rec_mov}
    df=pd.DataFrame(d)
    print(df)
except:
    print("Sorry please try something else")

            recommended_movies
0             INCEPTION (2010)
1                AVATAR (2009)
2      DARK KNIGHT, THE (2008)
3  INGLOURIOUS BASTERDS (2009)
4            DISTRICT 9 (2009)
5        SHUTTER ISLAND (2010)
6              IRON MAN (2008)
7                    UP (2009)
8         HANGOVER, THE (2009)
9             STAR TREK (2009)