In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
g_tags=pd.read_csv('genome_tags.csv')
g_scores=pd.read_csv('genome_scores.csv')
#links=pd.read_csv('link.csv')
movies=pd.read_csv('movie.csv')
ratings=pd.read_csv('rating.csv')
tags=pd.read_csv('tag.csv')

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
movies.shape

(27278, 3)

In [5]:
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [6]:
x=ratings['userId'].value_counts()>500
movie_lover=x[x].index.tolist()
ratings=ratings[ratings['userId'].isin(movie_lover)]
ratings.shape

(6554416, 4)

In [7]:
ratings.drop(columns=['timestamp'],inplace=True)

In [8]:
ratings.head()

     userId  movieId  rating
960      11        1     4.5
961      11       10     2.5
962      11       19     3.5
963      11       32     5.0
964      11       39     4.5

In [9]:
movie_with_rating=movies.merge(ratings,on='movieId')

In [10]:
movie_with_rating.shape

(6554416, 5)

In [11]:
movie_with_rating.head()

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,24,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,54,4.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,58,5.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,91,4.0

In [12]:
movie_with_rating.drop_duplicates(subset=['title'],inplace=True)

In [13]:
movie_with_rating.head()

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5
6303,2,Jumanji (1995),Adventure|Children|Fantasy,54,3.0
10913,3,Grumpier Old Men (1995),Comedy|Romance,91,3.0
13130,4,Waiting to Exhale (1995),Comedy|Drama|Romance,156,3.0
13776,5,Father of the Bride Part II (1995),Comedy,24,2.0

In [14]:
movie_with_rating.shape

(26034, 5)

In [15]:
pt=movie_with_rating.pivot_table(index='title',columns='userId',values='rating')

In [16]:
pt.fillna(-1,inplace=True)

In [17]:
pt

userId,11,24,54,58,91,104,116,134,156,208,...,136015,136054,136268,136684,137031,137277,137717,137893,138301,138406
title,,,,,,,,,,,,,,,,,,,,,
#chicagoGirl: The Social Network Takes on a Dictator (2013),-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
$ (Dollars) (1971),-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
$5 a Day (2008),-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
$9.99 (2008),-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
$ellebrity (Sellebrity) (2012),-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
À nos amours (1983),-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
À nous la liberté (Freedom for Us) (1931),-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
À propos de Nice (1930),-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
Åsa-Nisse - Wälkom to Knohult (2011),-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
貞子3D (2012),-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [18]:
from scipy.sparse import csr_matrix 
matrix=csr_matrix(pt)

In [19]:
matrix

<26034x1598 sparse matrix of type '<class 'numpy.float64'>'
	with 41602332 stored elements in Compressed Sparse Row format>

In [20]:
from sklearn.neighbors import NearestNeighbors
NN=NearestNeighbors(algorithm='brute')

In [21]:
NN.fit(matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [22]:
pt.shape

(26034, 1598)

In [23]:
d,s=NN.kneighbors(pt.iloc[500,:].values.reshape(1,1598),n_neighbors=5)

In [24]:
pt.index[500]

'Absolute Power (1997)'

In [25]:
s

array([[ 8251, 19678,  3354, 15489, 16836]], dtype=int64)

In [26]:
pt.index[8251]

'Flamingo Kid, The (1984)'

In [27]:
pt.index[19678]

'Santa Claus: The Movie (1985)'

In [28]:
pt.index[15489]

'Moonstruck (1987)'

In [29]:
pt.index[16836]

"On Her Majesty's Secret Service (1969)"