In [162]:
import pickle
import pandas as pd
import numpy as np

In [163]:
movies=pd.read_csv('movie.csv')
ratings=pd.read_csv('rating.csv')

In [164]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [165]:
def convert_to_upper(text):
    return text.upper()

In [166]:
def remove_space(text):
    return text.strip()

In [167]:
movies['title']=movies['title'].apply(convert_to_upper)
movies['title']=movies['title'].apply(remove_space)
movies['genres']=movies['genres'].apply(convert_to_upper)

In [168]:
movies

,movieId,title,genres
0,1,TOY STORY (1995),ADVENTURE|ANIMATION|CHILDREN|COMEDY|FANTASY
1,2,JUMANJI (1995),ADVENTURE|CHILDREN|FANTASY
2,3,GRUMPIER OLD MEN (1995),COMEDY|ROMANCE
3,4,WAITING TO EXHALE (1995),COMEDY|DRAMA|ROMANCE
4,5,FATHER OF THE BRIDE PART II (1995),COMEDY
...,...,...,...
27273,131254,KEIN BUND FÜR'S LEBEN (2007),COMEDY
27274,131256,"FEUER, EIS & DOSENBIER (2002)",COMEDY
27275,131258,THE PIRATES (2014),ADVENTURE
27276,131260,RENTUN RUUSU (2001),(NO GENRES LISTED)
27277,131262,INNOCENCE (2014),ADVENTURE|FANTASY|HORROR

In [169]:
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [170]:
ratings.drop(columns='timestamp',inplace=True)

In [171]:
ratings.shape

(20000263, 3)

In [172]:
movies.shape

(27278, 3)

In [173]:
x=ratings['userId'].value_counts()>700
movie_lover=x[x].index.tolist()
ratings=ratings[ratings['userId'].isin(movie_lover)]
ratings.shape

(4535739, 3)

In [174]:
df=pd.merge(movies,ratings,on='movieId')

In [175]:
df.reset_index(drop=True,inplace=True)

In [176]:
df

,movieId,title,genres,userId,rating
0,1,TOY STORY (1995),ADVENTURE|ANIMATION|CHILDREN|COMEDY|FANTASY,54,4.0
1,1,TOY STORY (1995),ADVENTURE|ANIMATION|CHILDREN|COMEDY|FANTASY,116,3.0
2,1,TOY STORY (1995),ADVENTURE|ANIMATION|CHILDREN|COMEDY|FANTASY,156,5.0
3,1,TOY STORY (1995),ADVENTURE|ANIMATION|CHILDREN|COMEDY|FANTASY,208,4.0
4,1,TOY STORY (1995),ADVENTURE|ANIMATION|CHILDREN|COMEDY|FANTASY,298,4.0
...,...,...,...,...,...
4535734,131252,FORKLIFT DRIVER KLAUS: THE FIRST DAY ON THE JO...,COMEDY|HORROR,79570,4.0
4535735,131254,KEIN BUND FÜR'S LEBEN (2007),COMEDY,79570,4.0
4535736,131256,"FEUER, EIS & DOSENBIER (2002)",COMEDY,79570,4.0
4535737,131258,THE PIRATES (2014),ADVENTURE,28906,2.5
4535738,131260,RENTUN RUUSU (2001),(NO GENRES LISTED),65409,3.0

In [177]:
df.shape

(4535739, 5)

In [178]:
df['title'].nunique()

25639

In [179]:
df_copy=df.copy()

In [180]:
movie_ratingCount = (df_copy.groupby(by = ['title'])['rating'].count().reset_index().
                     rename(columns = {'rating': 'totalRatingCount'})[['title', 'totalRatingCount']])
movie_ratingCount.head()

                                               title  totalRatingCount
0  #CHICAGOGIRL: THE SOCIAL NETWORK TAKES ON A DI...                 2
1                                 $ (DOLLARS) (1971)                 7
2                                    $5 A DAY (2008)                 9
3                                       $9.99 (2008)                15
4                     $ELLEBRITY (SELLEBRITY) (2012)                 1

In [181]:
movie_ratingCount.nunique()

title               25639
totalRatingCount     1875
dtype: int64

In [182]:
rating_with_totalRatingCount = df_copy.merge(movie_ratingCount, left_on = 'title', right_on = 'title', how = 'left')
rating_with_totalRatingCount.head()

,movieId,title,genres,userId,rating,totalRatingCount
0,1,TOY STORY (1995),ADVENTURE|ANIMATION|CHILDREN|COMEDY|FANTASY,54,4.0,3510
1,1,TOY STORY (1995),ADVENTURE|ANIMATION|CHILDREN|COMEDY|FANTASY,116,3.0,3510
2,1,TOY STORY (1995),ADVENTURE|ANIMATION|CHILDREN|COMEDY|FANTASY,156,5.0,3510
3,1,TOY STORY (1995),ADVENTURE|ANIMATION|CHILDREN|COMEDY|FANTASY,208,4.0,3510
4,1,TOY STORY (1995),ADVENTURE|ANIMATION|CHILDREN|COMEDY|FANTASY,298,4.0,3510

In [183]:
rating_with_totalRatingCount.shape

(4535739, 6)

In [184]:
rating_with_totalRatingCount.nunique()

movieId             25652
title               25639
genres               1309
userId               3989
rating                 10
totalRatingCount     1875
dtype: int64

In [185]:
popularity_threshold = 50
rating_popular_movie= rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_movie.head()

,movieId,title,genres,userId,rating,totalRatingCount
0,1,TOY STORY (1995),ADVENTURE|ANIMATION|CHILDREN|COMEDY|FANTASY,54,4.0,3510
1,1,TOY STORY (1995),ADVENTURE|ANIMATION|CHILDREN|COMEDY|FANTASY,116,3.0,3510
2,1,TOY STORY (1995),ADVENTURE|ANIMATION|CHILDREN|COMEDY|FANTASY,156,5.0,3510
3,1,TOY STORY (1995),ADVENTURE|ANIMATION|CHILDREN|COMEDY|FANTASY,208,4.0,3510
4,1,TOY STORY (1995),ADVENTURE|ANIMATION|CHILDREN|COMEDY|FANTASY,298,4.0,3510

In [186]:
rating_popular_movie.shape

(4376281, 6)

In [187]:
rating_popular_movie.nunique()

movieId             8877
title               8870
genres               878
userId              3989
rating                10
totalRatingCount    1826
dtype: int64

In [188]:
## First lets create a Pivot matrix

movie_features_df=rating_popular_movie.pivot_table(index='title',columns='userId',values='rating').fillna(0)
movie_features_df.head()

userId,54,104,116,156,208,298,347,348,359,367,...,138208,138254,138270,138301,138307,138325,138382,138397,138406,138437
title,,,,,,,,,,,,,,,,,,,,,
"'BURBS, THE (1989)",3.0,0.0,0.0,3.0,0.0,0.0,2.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
'NIGHT MOTHER (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'ROUND MIDNIGHT (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'TIL THERE WAS YOU (1997),0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
(500) DAYS OF SUMMER (2009),0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5,0.0,0.0,...,3.5,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,4.5

In [189]:
movie_names=movie_features_df.index.tolist()

In [190]:
movie_names

["'BURBS, THE (1989)",
 "'NIGHT MOTHER (1986)",
 "'ROUND MIDNIGHT (1986)",
 "'TIL THERE WAS YOU (1997)",
 '(500) DAYS OF SUMMER (2009)',
 '*BATTERIES NOT INCLUDED (1987)',
 '...AND JUSTICE FOR ALL (1979)',
 '10 (1979)',
 '10 ITEMS OR LESS (2006)',
 '10 RILLINGTON PLACE (1971)',
 '10 THINGS I HATE ABOUT YOU (1999)',
 '10 TO MIDNIGHT (1983)',
 '10,000 BC (2008)',
 '100 GIRLS (2000)',
 '101 DALMATIANS (1996)',
 '101 DALMATIANS (ONE HUNDRED AND ONE DALMATIANS) (1961)',
 '101 REYKJAVIK (101 REYKJAVÍK) (2000)',
 '102 DALMATIANS (2000)',
 '10TH KINGDOM, THE (2000)',
 '11\'09\\\\"01 - SEPTEMBER 11 (2002)"',
 '11:14 (2003)',
 '12 ANGRY MEN (1957)',
 '12 ANGRY MEN (1997)',
 '12 ROUNDS (2009)',
 '12 YEARS A SLAVE (2013)',
 '127 HOURS (2010)',
 '13 ASSASSINS (JÛSAN-NIN NO SHIKAKU) (2010)',
 '13 GHOSTS (1960)',
 '13 GOING ON 30 (2004)',
 '13 TZAMETI (2005)',
 '13TH WARRIOR, THE (1999)',
 '1408 (2007)',
 '1492: CONQUEST OF PARADISE (1992)',
 '15 MINUTES (2001)',
 '16 BLOCKS (2006)',
 '17 AGAIN (2009)',
 '1776 (1972)',
 '18 AGAIN! (1988)',
 '187 (ONE EIGHT SEVEN) (1997)',
 '1900 (NOVECENTO) (1976)',
 '1941 (1979)',
 '1969 (1988)',
 '1984 (1956)',
 '1984 (NINETEEN EIGHTY-FOUR) (1984)',
 '2 DAYS IN NEW YORK (2012)',
 '2 DAYS IN PARIS (2007)',
 '2 DAYS IN THE VALLEY (1996)',
 '2 FAST 2 FURIOUS (FAST AND THE FURIOUS 2, THE) (2003)',
 '2 GUNS (2013)',
 "2 OU 3 CHOSES QUE JE SAIS D'ELLE (2 OR 3 THINGS I KNOW ABOUT HER) (1967)",
 '20 DATES (1998)',
 '20 FEET FROM STARDOM (TWENTY FEET FROM STARDOM) (2013)',
 '20 MILLION MILES TO EARTH (1957)',
 '20,000 LEAGUES UNDER THE SEA (1954)',
 '200 CIGARETTES (1999)',
 '2001: A SPACE ODYSSEY (1968)',
 '2010: THE YEAR WE MAKE CONTACT (1984)',
 '2012 (2009)',
 '2046 (2004)',
 '21 (2008)',
 '21 GRAMS (2003)',
 '21 JUMP STREET (2012)',
 '21 UP (1977)',
 '22 JUMP STREET (2014)',
 '24 HOUR PARTY PEOPLE (2002)',
 '24: REDEMPTION (2008)',
 '25TH HOUR (2002)',
 '27 DRESSES (2008)',
 '28 DAYS (2000)',
 '28 DAYS LATER (2002)',
 '28 UP (1985)',
 '28 WEEKS LATER (2007)',
 '3 DAYS TO KILL (2014)',
 '3 EXTREMES (THREE... EXTREMES) (SAAM GAANG YI) (2004)',
 '3 IDIOTS (2009)',
 '3 NINJAS (1992)',
 '3 NINJAS KICK BACK (1994)',
 '3 NINJAS KNUCKLE UP (1995)',
 '3 NINJAS: HIGH NOON ON MEGA MOUNTAIN (1998)',
 '3 WOMEN (THREE WOMEN) (1977)',
 '3-IRON (BIN-JIP) (2004)',
 '30 DAYS OF NIGHT (2007)',
 '30 MINUTES OR LESS (2011)',
 '300 (2007)',
 '3000 MILES TO GRACELAND (2001)',
 '300: RISE OF AN EMPIRE (2014)',
 '35 UP (1991)',
 '36 QUAI DES ORFÈVRES (DEPARTMENT 36) (2004)',
 '36TH CHAMBER OF SHAOLIN, THE (SHAO LIN SAN SHI LIU FANG) (MASTER KILLER) (1978)',
 '39 STEPS, THE (1935)',
 '3:10 TO YUMA (1957)',
 '3:10 TO YUMA (2007)',
 '4 LITTLE GIRLS (1997)',
 '4 MONTHS, 3 WEEKS AND 2 DAYS (4 LUNI, 3 SAPTAMÂNI SI 2 ZILE) (2007)',
 '40 DAYS AND 40 NIGHTS (2002)',
 '40-YEAR-OLD VIRGIN, THE (2005)',
 '400 BLOWS, THE (LES QUATRE CENTS COUPS) (1959)',
 '42 (2013)',
 '42 UP (1998)',
 '42ND STREET (1933)',
 '47 RONIN (2013)',
 '47 SAMURAI (CHÛSHINGURA) (LOYAL 47 RONIN, THE) (1962)',
 '48 HRS. (1982)',
 '49 UP (2005)',
 '5 CENTIMETERS PER SECOND (BYÔSOKU 5 SENCHIMÊTORU) (2007)',
 '5,000 FINGERS OF DR. T, THE (1953)',
 '50 FIRST DATES (2004)',
 '50/50 (2011)',
 '52 PICK-UP (1986)',
 '54 (1998)',
 '56 UP (2012)',
 '5X2 (2004)',
 '61* (2001)',
 '6TH DAY, THE (2000)',
 '6TH MAN, THE (SIXTH MAN, THE) (1997)',
 '7 PLUS SEVEN (1970)',
 '7TH VOYAGE OF SINBAD, THE (1958)',
 '8 1/2 (8½) (1963)',
 '8 HEADS IN A DUFFEL BAG (1997)',
 '8 MILE (2002)',
 '8 SECONDS (1994)',
 '8 WOMEN (2002)',
 '8 ½ WOMEN (A.K.A. 8 1/2 WOMEN) (A.K.A. EIGHT AND A HALF WOMEN) (1999)',
 '84 CHARING CROSS ROAD (1987)',
 '88 MINUTES (2008)',
 '8MM (1999)',
 '9 (2009)',
 '9 1/2 WEEKS (NINE 1/2 WEEKS) (1986)',
 '9 SONGS (2004)',
 '9/11 (2002)',
 '976-EVIL (1989)',
 '99 FRANCS (2007)',
 'A HOME AT THE END OF THE WORLD (2004)',
 'A-TEAM, THE (2010)',
 'A.I. ARTIFICIAL INTELLIGENCE (2001)',
 'ABANDON (2002)',
 'ABBOTT AND COSTELLO MEET FRANKENSTEIN (1948)',
 'ABBOTT AND COSTELLO MEET THE MUMMY (1955)',
 'ABDUCTION (2011)',
 'ABERDEEN (2000)',
 'ABOMINABLE DR. PHIBES, THE (1971)',
 'ABOUT A BOY (2002)',
 'ABOUT ADAM (2000)',
 'ABOUT LAST NIGHT... (1986)',
 'ABOUT SCHMIDT (2002)',
 'ABOUT TIME (2013)',
 'ABOVE THE LAW (1988)',
 'ABOVE THE RIM (1994)',
 'ABRAHAM LINCOLN: VAMPIRE HUNTER (2012)',
 'ABSENCE OF MALICE (1981)',
 'ABSENT-MINDED PROFESSOR, THE (1961)',
 'ABSOLUTE BEGINNERS (1986)',
 'ABSOLUTE POWER (1997)',
 'ABYSS, THE (1989)',
 'ACCATTONE (1961)',
 'ACCEPTED (2006)',
 'ACCIDENTAL HUSBAND, THE (2009)',
 'ACCIDENTAL TOURIST, THE (1988)',
 'ACCUSED, THE (1988)',
 'ACE IN THE HOLE (BIG CARNIVAL, THE) (1951)',
 'ACE VENTURA: PET DETECTIVE (1994)',
 'ACE VENTURA: WHEN NATURE CALLS (1995)',
 'ACES: IRON EAGLE III (1992)',
 'ACID HOUSE, THE (1998)',
 'ACROSS THE UNIVERSE (2007)',
 'ACT OF KILLING, THE (2012)',
 'ACT OF VALOR (2012)',
 'ACTION JACKSON (1988)',
 'ADAM (2009)',
 "ADAM'S APPLES (ADAMS ÆBLER) (2005)",
 "ADAM'S RIB (1949)",
 'ADAPTATION (2002)',
 'ADDAMS FAMILY REUNION (1998)',
 'ADDAMS FAMILY VALUES (1993)',
 'ADDAMS FAMILY, THE (1991)',
 'ADDICTED TO LOVE (1997)',
 'ADDICTION, THE (1995)',
 'ADJUSTMENT BUREAU, THE (2011)',
 'ADMISSION (2013)',
 'ADVENTURELAND (2009)',
 'ADVENTURES IN BABYSITTING (1987)',
 'ADVENTURES OF BARON MUNCHAUSEN, THE (1988)',
 'ADVENTURES OF BUCKAROO BANZAI ACROSS THE 8TH DIMENSION, THE (1984)',
 'ADVENTURES OF ELMO IN GROUCHLAND, THE (1999)',
 'ADVENTURES OF FORD FAIRLANE, THE (1990)',
 'ADVENTURES OF HUCK FINN, THE (1993)',
 'ADVENTURES OF HUCKLEBERRY FINN, THE (1960)',
 'ADVENTURES OF ICHABOD AND MR. TOAD, THE (1949)',
 'ADVENTURES OF MILO AND OTIS, THE (KONEKO MONOGATARI) (1986)',
 'ADVENTURES OF PINOCCHIO, THE (1996)',
 'ADVENTURES OF PLUTO NASH, THE (2002)',
 'ADVENTURES OF PRISCILLA, QUEEN OF THE DESERT, THE (1994)',
 'ADVENTURES OF ROBIN HOOD, THE (1938)',
 'ADVENTURES OF ROCKY AND BULLWINKLE, THE (2000)',
 'ADVENTURES OF SEBASTIAN COLE, THE (1998)',
 'ADVENTURES OF SHARKBOY AND LAVAGIRL 3-D, THE (2005)',
 'ADVENTURES OF SHERLOCK HOLMES, THE (1939)',
 'ADVENTURES OF TINTIN, THE (2011)',
 'ADVISE AND CONSENT (1962)',
 'AEON FLUX (2005)',
 'AFFAIR OF LOVE, AN (LIAISON PORNOGRAPHIQUE, UNE) (1999)',
 'AFFAIR OF THE NECKLACE, THE (2001)',
 'AFFAIR TO REMEMBER, AN (1957)',
 'AFFLICTION (1997)',
 'AFRICA: THE SERENGETI (1994)',
 'AFRICAN QUEEN, THE (1951)',
 'AFRO SAMURAI: RESURRECTION (2009)',
 'AFTER DARK, MY SWEET (1990)',
 'AFTER EARTH (2013)',
 'AFTER HOURS (1985)',
 'AFTER LIFE (WANDAFURU RAIFU) (1998)',
 'AFTER THE SUNSET (2004)',
 'AFTER THE THIN MAN (1936)',
 'AFTER THE WEDDING (EFTER BRYLLUPPET) (2006)',
 'AFTER YOU (APRÈS VOUS...) (2003)',
 'AFTER.LIFE (2009)',
 'AFTERGLOW (1997)',
 'AGAINST ALL ODDS (1984)',
 'AGAINST THE ROPES (2004)',
 "AGATHA CHRISTIE'S 'TEN LITTLE INDIANS' (TEN LITTLE INDIANS) (AND THEN THERE WERE NONE) (1965)",
 'AGE OF INNOCENCE, THE (1993)',
 'AGENT CODY BANKS (2003)',
 'AGENT CODY BANKS 2: DESTINATION LONDON (2004)',
 'AGNES BROWNE (1999)',
 'AGNES OF GOD (1985)',
 'AGONY AND THE ECSTASY, THE (1965)',
 'AGORA (2009)',
 'AGUIRRE: THE WRATH OF GOD (AGUIRRE, DER ZORN GOTTES) (1972)',
 'AILEEN: LIFE AND DEATH OF A SERIAL KILLER (2003)',
 'AIMÉE & JAGUAR (1999)',
 'AIR AMERICA (1990)',
 'AIR BUD (1997)',
 'AIR BUD: GOLDEN RECEIVER (1998)',
 'AIR FORCE ONE (1997)',
 'AIR I BREATHE, THE (2007)',
 'AIR UP THERE, THE (1994)',
 'AIRHEADS (1994)',
 'AIRPLANE II: THE SEQUEL (1982)',
 'AIRPLANE! (1980)',
 "AIRPORT '77 (1977)",
 'AIRPORT (1970)',
 'AIRPORT 1975 (1974)',
 'AKEELAH AND THE BEE (2006)',
 'AKIRA (1988)',
 "AKIRA KUROSAWA'S DREAMS (DREAMS) (1990)",
 'ALADDIN (1992)',
 'ALADDIN AND THE KING OF THIEVES (1996)',
 'ALAMO, THE (1960)',
 'ALAMO, THE (2004)',
 'ALAN PARTRIDGE: ALPHA PAPA (2013)',
 'ALAN SMITHEE FILM: BURN HOLLYWOOD BURN, AN (1997)',
 'ALASKA (1996)',
 'ALBERT NOBBS (2011)',
 'ALBINO ALLIGATOR (1996)',
 'ALEX AND EMMA (2003)',
 'ALEXANDER (2004)',
 'ALEXANDER NEVSKY (ALEKSANDR NEVSKIY) (1938)',
 'ALFIE (1966)',
 'ALFIE (2004)',
 'ALGIERS (1938)',
 'ALI (2001)',
 'ALI G INDAHOUSE (2002)',
 'ALI: FEAR EATS THE SOUL (ANGST ESSEN SEELE AUF) (1974)',
 'ALICE (1990)',
 'ALICE (NECO Z ALENKY) (1988)',
 'ALICE ADAMS (1935)',
 "ALICE DOESN'T LIVE HERE ANYMORE (1974)",
 'ALICE IN WONDERLAND (1951)',
 'ALICE IN WONDERLAND (2010)',
 "ALICE'S RESTAURANT (1969)",
 'ALICE, SWEET ALICE (A.K.A. COMMUNION) (A.K.A. HOLY TERROR) (1976)',
 'ALIEN (1979)',
 'ALIEN FROM L.A. (1988)',
 'ALIEN NATION (1988)',
 'ALIEN: RESURRECTION (1997)',
 'ALIENS (1986)',
 'ALIEN³ (A.K.A. ALIEN 3) (1992)',
 'ALIVE (1993)',
 'ALL ABOUT EVE (1950)',
 'ALL ABOUT LILY CHOU-CHOU (RIRI SHUSHU NO SUBETE) (2001)',
 'ALL ABOUT MY MOTHER (TODO SOBRE MI MADRE) (1999)',
 'ALL ABOUT STEVE (2009)',
 'ALL ABOUT THE BENJAMINS (2002)',
 'ALL DOGS GO TO HEAVEN (1989)',
 'ALL DOGS GO TO HEAVEN 2 (1996)',
 'ALL GOOD THINGS (2010)',
 'ALL I WANT (TRY SEVENTEEN) (2002)',
 'ALL IS LOST (2013)',
 'ALL OF ME (1984)',
 'ALL OR NOTHING (2002)',
 'ALL OVER ME (1997)',
 'ALL OVER THE GUY (2001)',
 'ALL QUIET ON THE WESTERN FRONT (1930)',
 'ALL THAT HEAVEN ALLOWS (1955)',
 'ALL THAT JAZZ (1979)',
 'ALL THE BOYS LOVE MANDY LANE (2006)',
 "ALL THE KING'S MEN (1949)",
 "ALL THE KING'S MEN (2006)",
 'ALL THE MORNINGS OF THE WORLD (TOUS LES MATINS DU MONDE) (1991)',
 "ALL THE PRESIDENT'S MEN (1976)",
 'ALL THE PRETTY HORSES (2000)',
 "ALL THE RAGE (IT'S THE RAGE) (1999)",
 'ALL THE REAL GIRLS (2003)',
 'ALL THE RIGHT MOVES (1983)',
 'ALLAN QUATERMAIN AND THE LOST CITY OF GOLD (1987)',
 'ALLEGRO NON TROPPO (1977)',
 'ALLIGATOR (1980)',
 'ALMOST FAMOUS (2000)',
 'ALMOST HEROES (1998)',
 'ALONE IN THE DARK (2005)',
 'ALONE IN THE WILDERNESS (2004)',
 'ALONG CAME A SPIDER (2001)',
 'ALONG CAME POLLY (2004)',
 'ALPHA DOG (2007)',
 'ALPHAVILLE (ALPHAVILLE, UNE ÉTRANGE AVENTURE DE LEMMY CAUTION) (1965)',
 'ALTERED STATES (1980)',
 'ALVIN AND THE CHIPMUNKS (2007)',
 'ALVIN AND THE CHIPMUNKS: THE SQUEAKQUEL (2009)',
 'ALWAYS (1989)',
 'AMADEUS (1984)',
 'AMARCORD (1973)',
 'AMATEUR (1994)',
 'AMAZING GRACE (2006)',
 'AMAZING GRACE AND CHUCK (1987)',
 'AMAZING PANDA ADVENTURE, THE (1995)',
 'AMAZING SPIDER-MAN, THE (2012)',
 'AMAZON WOMEN ON THE MOON (1987)',
 'AMBUSH (RUKAJÄRVEN TIE) (1999)',
 'AMELIA (2009)',
 "AMELIE (FABULEUX DESTIN D'AMÉLIE POULAIN, LE) (2001)",
 'AMEN. (2002)',
 "AMERICA'S SWEETHEARTS (2001)",
 'AMERICAN ASTRONAUT, THE (2001)',
 'AMERICAN BEAUTY (1999)',
 'AMERICAN BUFFALO (1996)',
 'AMERICAN CRIME, AN (2007)',
 'AMERICAN DREAM (1990)',
 'AMERICAN DREAMZ (2006)',
 'AMERICAN FLYERS (1985)',
 'AMERICAN FRIEND, THE (AMERIKANISCHE FREUND, DER) (1977)',
 'AMERICAN GANGSTER (2007)',
 'AMERICAN GIGOLO (1980)',
 'AMERICAN GRAFFITI (1973)',
 'AMERICAN HAUNTING, AN (2005)',
 'AMERICAN HEART (1992)',
 'AMERICAN HISTORY X (1998)',
 'AMERICAN HUSTLE (2013)',
 'AMERICAN IN PARIS, AN (1951)',
 'AMERICAN ME (1992)',
 'AMERICAN MOVIE (1999)',
 'AMERICAN NINJA (1985)',
 'AMERICAN NINJA 2: THE CONFRONTATION (1987)',
 'AMERICAN NINJA 3: BLOOD HUNT (1989)',
 'AMERICAN OUTLAWS (2001)',
 'AMERICAN PIE (1999)',
 'AMERICAN PIE 2 (2001)',
 'AMERICAN PIE PRESENTS BETA HOUSE (AMERICAN PIE 6: BETA HOUSE) (2007)',
 'AMERICAN PIE PRESENTS THE NAKED MILE (AMERICAN PIE 5: THE NAKED MILE) (2006)',
 'AMERICAN PIE PRESENTS: BAND CAMP (AMERICAN PIE 4: BAND CAMP) (2005)',
 'AMERICAN PIE PRESENTS: THE BOOK OF LOVE (AMERICAN PIE 7: THE BOOK OF LOVE) (2009)',
 'AMERICAN PIMP (1999)',
 'AMERICAN POP (1981)',
 'AMERICAN PRESIDENT, THE (1995)',
 'AMERICAN PSYCHO (2000)',
 'AMERICAN PSYCHO II: ALL AMERICAN GIRL (2002)',
 'AMERICAN REUNION (AMERICAN PIE 4) (2012)',
 'AMERICAN RHAPSODY, AN (2001)',
 'AMERICAN SNIPER (2014)',
 'AMERICAN SPLENDOR (2003)',
 'AMERICAN TAIL, AN (1986)',
 'AMERICAN TAIL: FIEVEL GOES WEST, AN (1991)',
 'AMERICAN TEEN (2008)',
 'AMERICAN WEDDING (AMERICAN PIE 3) (2003)',
 'AMERICAN WEREWOLF IN LONDON, AN (1981)',
 'AMERICAN WEREWOLF IN PARIS, AN (1997)',
 'AMERICAN, THE (2010)',
 'AMERICAN: THE BILL HICKS STORY (2009)',
 'AMERICANIZATION OF EMILY, THE (1964)',
 'AMISTAD (1997)',
 "AMITYVILLE 1992: IT'S ABOUT TIME (1992)",
 'AMITYVILLE 3-D (1983)',
 'AMITYVILLE CURSE, THE (1990)',
 'AMITYVILLE HORROR, THE (1979)',
 'AMITYVILLE HORROR, THE (2005)',
 'AMITYVILLE II: THE POSSESSION (1982)',
 'AMITYVILLE: A NEW GENERATION (1993)',
 'AMITYVILLE: DOLLHOUSE (1996)',
 "AMORES PERROS (LOVE'S A BITCH) (2000)",
 'AMOS & ANDREW (1993)',
 'AMOUR (2012)',
 "AMY'S O (A.K.A. AMY'S ORGASM) (2001)",
 'ANACONDA (1997)',
 'ANACONDAS: THE HUNT FOR THE BLOOD ORCHID (2004)',
 'ANALYZE THAT (2002)',
 'ANALYZE THIS (1999)',
 'ANASTASIA (1956)',
 'ANASTASIA (1997)',
 'ANATOMY (ANATOMIE) (2000)',
 'ANATOMY OF A MURDER (1959)',
 'ANCHORMAN 2: THE LEGEND CONTINUES (2013)',
 'ANCHORMAN: THE LEGEND OF RON BURGUNDY (2004)',
 'ANCHORS AWEIGH (1945)',
 'AND GOD CREATED WOMAN (1988)',
 'AND GOD CREATED WOMAN (ET DIEU... CRÉA LA FEMME) (1956)',
 'AND THE BAND PLAYED ON (1993)',
 'AND THE SHIP SAILS ON (E LA NAVE VA) (1983)',
 'AND THEN THERE WERE NONE (1945)',
 'AND YOUR MOTHER TOO (Y TU MAMÁ TAMBIÉN) (2001)',
 'ANDALUSIAN DOG, AN (CHIEN ANDALOU, UN) (1929)',
 'ANDRE (1994)',
 'ANDREI RUBLEV (ANDREY RUBLYOV) (1969)',
 'ANDROMEDA STRAIN, THE (1971)',
 'ANGEL AND THE BADMAN (1947)',
 'ANGEL AT MY TABLE, AN (1990)',
 'ANGEL BABY (1995)',
 'ANGEL EYES (2001)',
 'ANGEL HEART (1987)',
 'ANGEL ON MY SHOULDER (1946)',
 'ANGEL-A (2005)',
 "ANGELA'S ASHES (1999)",
 'ANGELS & DEMONS (2009)',
 'ANGELS AND INSECTS (1995)',
 'ANGELS IN AMERICA (2003)',
 'ANGELS IN THE OUTFIELD (1994)',
 'ANGELS WITH DIRTY FACES (1938)',
 'ANGER MANAGEMENT (2003)',
 'ANGIE (1994)',
 'ANGRY RED PLANET, THE (1959)',
 'ANGUS (1995)',
 'ANIMAL CRACKERS (1930)',
 'ANIMAL FACTORY (2000)',
 'ANIMAL FARM (1954)',
 'ANIMAL HOUSE (1978)',
 'ANIMAL KINGDOM (2010)',
 'ANIMAL, THE (2001)',
 'ANIMATRIX, THE (2003)',
 'ANNA AND THE KING (1999)',
 'ANNA KARENINA (1935)',
 'ANNA KARENINA (1997)',
 'ANNA KARENINA (2012)',
 'ANNAPOLIS (2006)',
 'ANNE FRANK REMEMBERED (1995)',
 'ANNE OF GREEN GABLES (1985)',
 'ANNE OF THE THOUSAND DAYS (1969)',
 'ANNIE (1982)',
 'ANNIE HALL (1977)',
 'ANNIVERSARY PARTY, THE (2001)',
 'ANONYMOUS (2011)',
 'ANOTHER 48 HRS. (1990)',
 'ANOTHER DAY IN PARADISE (1998)',
 'ANOTHER EARTH (2011)',
 'ANOTHER STAKEOUT (1993)',
 'ANOTHER THIN MAN (1939)',
 'ANOTHER WOMAN (1988)',
 'ANOTHER YEAR (2010)',
 'ANT BULLY, THE (2006)',
 'ANTICHRIST (2009)',
 'ANTITRUST (2001)',
 "ANTONIA'S LINE (ANTONIA) (1995)",
 'ANTWONE FISHER (2002)',
 'ANTZ (1998)',
 'ANVIL! THE STORY OF ANVIL (2008)',
 'ANY GIVEN SUNDAY (1999)',
 'ANY WHICH WAY YOU CAN (1980)',
 'ANYTHING ELSE (2003)',
 'ANYWHERE BUT HERE (1999)',
 'APARTMENT ZERO (1988)',
 'APARTMENT, THE (1960)',
 "APARTMENT, THE (APPARTEMENT, L') (1996)",
 'APOCALYPSE NOW (1979)',
 'APOCALYPTO (2006)',
 'APOLLO 13 (1995)',
 'APOLLO 18 (2011)',
 'APOSTLE, THE (1997)',
 'APPALOOSA (2008)',
 'APPLE DUMPLING GANG RIDES AGAIN, THE (1979)',
 'APPLE DUMPLING GANG, THE (1975)',
 'APPLESEED (APPURUSHÎDO) (2004)',
 "APRIL FOOL'S DAY (1986)",
 'APT PUPIL (1998)',
 'AQUA TEEN HUNGER FORCE COLON MOVIE FILM FOR THEATERS (2007)',
 'AQUAMARINE (2006)',
 'ARACHNOPHOBIA (1990)',
 'ARARAT (2002)',
 'ARBITRAGE (2012)',
 'ARE WE DONE YET? (2007)',
 'ARE WE THERE YET? (2005)',
 'ARGO (2012)',
 'ARIEL (1988)',
 'ARISTOCATS, THE (1970)',
 'ARISTOCRATS, THE (2005)',
 'ARIZONA DREAM (1993)',
 'ARLINGTON ROAD (1999)',
 'ARMADILLO (2010)',
 'ARMAGEDDON (1998)',
 'ARMED AND DANGEROUS (1986)',
 'ARMORED (2009)',
 'ARMOUR OF GOD (LONG XIONG HU DI) (1987)',
 'ARMOUR OF GOD II: OPERATION CONDOR (OPERATION CONDOR) (FEI YING GAI WAK) (1991)',
 'ARMY OF DARKNESS (1993)',
 "ARMY OF SHADOWS (L'ARMÉE DES OMBRES) (1969)",
 'ARN: THE KNIGHT TEMPLAR (ARN - TEMPELRIDDAREN) (2007)',
 'AROUND THE WORLD IN 80 DAYS (1956)',
 'AROUND THE WORLD IN 80 DAYS (2004)',
 'ARRIVAL, THE (1996)',
 'ARSENIC AND OLD LACE (1944)',
 'ART OF WAR, THE (2000)',
 'ART SCHOOL CONFIDENTIAL (2006)',
 'ARTEMISIA (1997)',
 'ARTHUR (1981)',
 'ARTHUR (2011)',
 'ARTHUR 2: ON THE ROCKS (1988)',
 'ARTHUR AND THE INVISIBLES (2007)',
 'ARTHUR CHRISTMAS (2011)',
 'ARTIST, THE (2011)',
 'AS GOOD AS IT GETS (1997)',
 'AS IT IS IN HEAVEN (SÅ SOM I HIMMELEN) (2004)',
 'ASHES AND DIAMONDS (POPIÓL I DIAMENT) (1958)',
 'ASHES OF TIME (DUNG CHE SAI DUK) (1994)',
 'ASK THE DUST (2006)',
 'ASPEN EXTREME (1993)',
 'ASPHALT JUNGLE, THE (1950)',
 'ASSASSINATION (1987)',
 'ASSASSINATION OF A HIGH SCHOOL PRESIDENT (2008)',
 'ASSASSINATION OF JESSE JAMES BY THE COWARD ROBERT FORD, THE (2007)',
 'ASSASSINATION OF RICHARD NIXON, THE (2004)',
 'ASSASSINATION TANGO (2002)',
 'ASSASSINS (1995)',
 'ASSAULT ON PRECINCT 13 (1976)',
 'ASSAULT ON PRECINCT 13 (2005)',
 'ASSIGNMENT, THE (1997)',
 'ASSOCIATE, THE (1996)',
 'ASTERIX & OBELIX: MISSION CLEOPATRA (ASTÉRIX & OBÉLIX: MISSION CLÉOPÂTRE) (2002)',
 'ASTRO BOY (2009)',
 'ASTRONAUT FARMER, THE (2007)',
 "ASTRONAUT'S WIFE, THE (1999)",
 'AT CLOSE RANGE (1986)',
 'AT FIRST SIGHT (1999)',
 'AT PLAY IN THE FIELDS OF THE LORD (1991)',
 'AT THE CIRCUS (1939)',
 "ATALANTE, L' (1934)",
 'ATLANTIC CITY (1980)',
 'ATLANTIS: THE LOST EMPIRE (2001)',
 'ATLAS SHRUGGED: PART 1 (2011)',
 'ATOMIC CAFE, THE (1982)',
 'ATONEMENT (2007)',
 'ATTACK OF THE KILLER TOMATOES! (1978)',
 'ATTACK THE BLOCK (2011)',
 'ATTACK THE GAS STATION! (JUYUSO SEUBGYUKSAGEUN) (1999)',
 'AU HASARD BALTHAZAR (1966)',
 'AU REVOIR LES ENFANTS (1987)',
 'AUDITION (ÔDISHON) (1999)',
 'AUDREY ROSE (1977)',
 'AUGUST RUSH (2007)',
 'AUGUST: OSAGE COUNTY (2013)',
 'AUNTIE MAME (1958)',
 'AUSTIN POWERS IN GOLDMEMBER (2002)',
 'AUSTIN POWERS: INTERNATIONAL MAN OF MYSTERY (1997)',
 'AUSTIN POWERS: THE SPY WHO SHAGGED ME (1999)',
 'AUSTRALIA (2008)',
 'AUTHOR! AUTHOR! (1982)',
 'AUTO FOCUS (2002)',
 'AUTUMN IN NEW YORK (2000)',
 'AUTUMN SONATA (HÖSTSONATEN) (1978)',
 "AUTUMN TALE, AN (CONTE D'AUTOMNE) (1998)",
 'AVALON (1990)',
 'AVALON (2001)',
 'AVANTI! (1972)',
 'AVATAR (2009)',
 'AVENGERS, THE (1998)',
 'AVENGERS, THE (2012)',
 'AVIATOR, THE (2004)',
 'AVP: ALIEN VS. PREDATOR (2004)',
 'AVPR: ALIENS VS. PREDATOR - REQUIEM (2007)',
 "AVVENTURA, L' (ADVENTURE, THE) (1960)",
 'AWAKE (2007)',
 'AWAKENING, THE (1980)',
 'AWAKENING, THE (2011)',
 'AWAKENINGS (1990)',
 'AWAY FROM HER (2006)',
 'AWAY WE GO (2009)',
 'AWFUL TRUTH, THE (1937)',
 'AWFULLY BIG ADVENTURE, AN (1995)',
 'AYN RAND: A SENSE OF LIFE (1997)',
 'AZUMI (2003)',
 'B*A*P*S (1997)',
 'B. MONKEY (1998)',
 "BAADASSSSS! (HOW TO GET THE MAN'S FOOT OUTTA YOUR ASS) (2003)",
 'BAADER MEINHOF KOMPLEX, DER (2008)',
 'BABADOOK, THE (2014)',
 'BABE (1995)',
 'BABE, THE (1992)',
 'BABE: PIG IN THE CITY (1998)',
 'BABEL (2006)',
 'BABES IN TOYLAND (1961)',
 "BABETTE'S FEAST (BABETTES GÆSTEBUD) (1987)",
 'BABIES (BÉBÉ(S)) (2010)',
 'BABY BOOM (1987)',
 'BABY BOY (2001)',
 'BABY DOLL (1956)',
 'BABY GENIUSES (1999)',
 'BABY MAMA (2008)',
 "BABY'S DAY OUT (1994)",
 'BABY-SITTERS CLUB, THE (1995)',
 'BABY... SECRET OF THE LOST LEGEND (1985)',
 'BABYLON 5: A CALL TO ARMS (1999)',
 'BABYLON 5: IN THE BEGINNING (1998)',
 'BABYLON 5: THE GATHERING (1993)',
 'BABYLON 5: THE RIVER OF SOULS (1998)',
 'BABYLON 5: THIRDSPACE (1998)',
 'BABYLON A.D. (2008)',
 'BABYSITTER, THE (1995)',
 'BACHELOR AND THE BOBBY-SOXER, THE (1947)',
 'BACHELOR PARTY (1984)',
 'BACHELOR, THE (1999)',
 'BACK TO SCHOOL (1986)',
 'BACK TO THE BEACH (1987)',
 'BACK TO THE FUTURE (1985)',
 'BACK TO THE FUTURE PART II (1989)',
 'BACK TO THE FUTURE PART III (1990)',
 'BACK-UP PLAN, THE (2010)',
 'BACKBEAT (1993)',
 'BACKDRAFT (1991)',
 'BAD AND THE BEAUTIFUL, THE (1952)',
 'BAD BOY BUBBY (1993)',
 'BAD BOYS (1983)',
 'BAD BOYS (1995)',
 'BAD BOYS II (2003)',
 'BAD COMPANY (1995)',
 'BAD COMPANY (2002)',
 'BAD DAY AT BLACK ROCK (1955)',
 'BAD DREAMS (1988)',
 'BAD EDUCATION (LA MALA EDUCACIÓN) (2004)',
 'BAD GIRLS (1994)',
 'BAD INFLUENCE (1990)',
 'BAD LIEUTENANT (1992)',
 'BAD LIEUTENANT: PORT OF CALL NEW ORLEANS (2009)',
 'BAD MOON (1996)',
 'BAD NEWS BEARS (2005)',

In [193]:
pickle.dump(movie_names,open('movie_names_remake.pkl','wb'))

In [194]:
pickle.dump(movie_features_df,open('movie_features_df_remake.pkl','wb'))

In [113]:
from scipy.sparse import csr_matrix
movie_features_df_matrix = csr_matrix(movie_features_df.values)


from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [114]:
#pickle.dump(model_knn,open('model_remake.pkl','wb'))