In [55]:
# https://www.kaggle.com/grouplens/movielens-20m-dataset -- dataset link

import pickle
import pandas as pd
import numpy as np

In [56]:
movies=pd.read_csv('movie.csv')
ratings=pd.read_csv('rating.csv')
tags=pd.read_csv('tag.csv')

In [57]:
movies.shape

(27278, 3)

In [58]:
ratings.shape

(20000263, 4)

In [59]:
ratings

          userId  movieId  rating            timestamp
0              1        2   3.500  2005-04-02 23:53:47
1              1       29   3.500  2005-04-02 23:31:16
2              1       32   3.500  2005-04-02 23:33:39
3              1       47   3.500  2005-04-02 23:32:07
4              1       50   3.500  2005-04-02 23:29:40
...          ...      ...     ...                  ...
20000258  138493    68954   4.500  2009-11-13 15:42:00
20000259  138493    69526   4.500  2009-12-03 18:31:48
20000260  138493    69644   3.000  2009-12-07 18:10:57
20000261  138493    70286   5.000  2009-11-13 15:42:24
20000262  138493    71619   2.500  2009-10-17 20:25:36

[20000263 rows x 4 columns]

In [60]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [61]:
def convert_to_upper(text):
    return text.upper()

In [62]:
movies['title']=movies['title'].apply(convert_to_upper)

In [63]:
def remove_space(text):
    return text.strip()

In [64]:
movies['title']=movies['title'].apply(remove_space)

In [65]:
movies

,movieId,title,genres
0,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,JUMANJI (1995),Adventure|Children|Fantasy
2,3,GRUMPIER OLD MEN (1995),Comedy|Romance
3,4,WAITING TO EXHALE (1995),Comedy|Drama|Romance
4,5,FATHER OF THE BRIDE PART II (1995),Comedy
...,...,...,...
27273,131254,KEIN BUND FÜR'S LEBEN (2007),Comedy
27274,131256,"FEUER, EIS & DOSENBIER (2002)",Comedy
27275,131258,THE PIRATES (2014),Adventure
27276,131260,RENTUN RUUSU (2001),(no genres listed)
27277,131262,INNOCENCE (2014),Adventure|Fantasy|Horror

In [68]:
x=ratings['userId'].value_counts()>500
movie_lover=x[x].index.tolist()
ratings=ratings[ratings['userId'].isin(movie_lover)]
ratings.shape

(6554416, 4)

In [69]:
df=pd.merge(movies,ratings,on='movieId')

In [70]:
df.reset_index(drop=True,inplace=True)

In [71]:
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.500,2009-01-02 01:13:41
1,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,24,4.000,2001-07-04 07:02:29
2,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,54,4.000,2000-11-21 21:00:21
3,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,58,5.000,2006-04-03 10:00:08
4,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,91,4.000,2005-03-22 22:46:02

In [72]:
df

,movieId,title,genres,userId,rating,timestamp
0,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.500,2009-01-02 01:13:41
1,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,24,4.000,2001-07-04 07:02:29
2,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,54,4.000,2000-11-21 21:00:21
3,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,58,5.000,2006-04-03 10:00:08
4,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,91,4.000,2005-03-22 22:46:02
...,...,...,...,...,...,...
6554411,131254,KEIN BUND FÜR'S LEBEN (2007),Comedy,79570,4.000,2015-03-30 19:32:59
6554412,131256,"FEUER, EIS & DOSENBIER (2002)",Comedy,79570,4.000,2015-03-30 19:48:08
6554413,131258,THE PIRATES (2014),Adventure,28906,2.500,2015-03-30 19:56:32
6554414,131260,RENTUN RUUSU (2001),(no genres listed),65409,3.000,2015-03-30 19:57:46
6554415,131262,INNOCENCE (2014),Adventure|Fantasy|Horror,133047,4.000,2015-03-30 20:39:26

In [73]:
df.shape

(6554416, 6)

In [74]:
df_copy=df.copy()

In [75]:
movie_ratingCount = (df_copy.groupby(by = ['title'])['rating'].count().reset_index().
                     rename(columns = {'rating': 'totalRatingCount'})[['title', 'totalRatingCount']])
movie_ratingCount.head()

                                               title  totalRatingCount
0  #CHICAGOGIRL: THE SOCIAL NETWORK TAKES ON A DI...                 2
1                                 $ (DOLLARS) (1971)                 7
2                                    $5 A DAY (2008)                10
3                                       $9.99 (2008)                17
4                     $ELLEBRITY (SELLEBRITY) (2012)                 1

In [76]:
rating_with_totalRatingCount = df_copy.merge(movie_ratingCount, left_on = 'title', right_on = 'title', how = 'left')
rating_with_totalRatingCount.head()

,movieId,title,genres,userId,rating,timestamp,totalRatingCount
0,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.500,2009-01-02 01:13:41,6303
1,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,24,4.000,2001-07-04 07:02:29,6303
2,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,54,4.000,2000-11-21 21:00:21,6303
3,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,58,5.000,2006-04-03 10:00:08,6303
4,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,91,4.000,2005-03-22 22:46:02,6303

In [77]:
rating_with_totalRatingCount.drop(columns='timestamp',inplace=True)

In [78]:
rating_with_totalRatingCount.shape

(6554416, 6)

In [79]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(movie_ratingCount['totalRatingCount'].describe())

count   26034.000
mean      251.764
std       698.078
min         1.000
25%         3.000
50%        15.000
75%       132.000
max      6938.000
Name: totalRatingCount, dtype: float64

In [80]:
popularity_threshold = 150
rating_popular_movie= rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_movie.head()

,movieId,title,genres,userId,rating,totalRatingCount
0,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.500,6303
1,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,24,4.000,6303
2,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,54,4.000,6303
3,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,58,5.000,6303
4,1,TOY STORY (1995),Adventure|Animation|Children|Comedy|Fantasy,91,4.000,6303

In [81]:
rating_popular_movie.shape

(6108541, 6)

In [82]:
## First lets create a Pivot matrix

movie_features_df=rating_popular_movie.pivot_table(index='title',columns='userId',values='rating').fillna(0)
movie_features_df.head()

userId,11,24,54,58,91,104,116,134,156,208,...,138270,138301,138307,138325,138382,138397,138406,138411,138437,138474
title,,,,,,,,,,,,,,,,,,,,,
"'BURBS, THE (1989)",0.000,0.000,3.000,0.000,0.000,0.000,0.000,0.000,3.000,0.000,...,0.000,0.000,0.000,0.000,3.000,0.000,0.000,2.000,0.000,4.000
'NIGHT MOTHER (1986),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
'TIL THERE WAS YOU (1997),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
(500) DAYS OF SUMMER (2009),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,2.000,0.000,0.000,0.000,0.000,0.000,0.000,4.500,0.000
*BATTERIES NOT INCLUDED (1987),5.000,0.000,0.000,0.000,3.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000,0.000

In [103]:
movie_names=movie_features_df.index.tolist()

In [ ]:
#pickle.dump(movie_features_df,open('movie_features_df.pkl','wb'))

In [104]:
pickle.dump(movie_names,open('movie_names.pkl','wb'))

In [83]:
movie_features_df.iloc[:]

userId,11,24,54,58,91,104,116,134,156,208,...,138270,138301,138307,138325,138382,138397,138406,138411,138437,138474
title,,,,,,,,,,,,,,,,,,,,,
"'BURBS, THE (1989)",0.000,0.000,3.000,0.000,0.000,0.000,0.000,0.000,3.000,0.000,...,0.000,0.000,0.000,0.000,3.000,0.000,0.000,2.000,0.000,4.000
'NIGHT MOTHER (1986),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
'TIL THERE WAS YOU (1997),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
(500) DAYS OF SUMMER (2009),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,2.000,0.000,0.000,0.000,0.000,0.000,0.000,4.500,0.000
*BATTERIES NOT INCLUDED (1987),5.000,0.000,0.000,0.000,3.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZORBA THE GREEK (ALEXIS ZORBAS) (1964),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,3.500,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"ZORRO, THE GAY BLADE (1981)",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2.000,0.000,...,0.000,0.000,0.000,0.000,2.000,0.000,0.000,0.000,0.000,0.000
ZULU (1964),0.000,0.000,0.000,0.000,5.000,0.000,0.000,0.000,3.000,0.000,...,0.000,3.500,0.000,0.000,0.000,3.000,0.000,0.000,0.000,0.000
[REC] (2007),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,4.500,0.000,0.000,4.000,0.000,0.000,0.000
¡THREE AMIGOS! (1986),0.000,0.000,3.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,...,0.000,0.000,0.000,0.000,1.000,3.500,0.000,3.000,4.000,0.000

In [84]:
from scipy.sparse import csr_matrix
movie_features_df_matrix = csr_matrix(movie_features_df.values)


from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [85]:
movie_features_df.head()

userId,11,24,54,58,91,104,116,134,156,208,...,138270,138301,138307,138325,138382,138397,138406,138411,138437,138474
title,,,,,,,,,,,,,,,,,,,,,
"'BURBS, THE (1989)",0.000,0.000,3.000,0.000,0.000,0.000,0.000,0.000,3.000,0.000,...,0.000,0.000,0.000,0.000,3.000,0.000,0.000,2.000,0.000,4.000
'NIGHT MOTHER (1986),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
'TIL THERE WAS YOU (1997),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
(500) DAYS OF SUMMER (2009),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,2.000,0.000,0.000,0.000,0.000,0.000,0.000,4.500,0.000
*BATTERIES NOT INCLUDED (1987),5.000,0.000,0.000,0.000,3.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000,0.000

In [86]:
pickle.dump(movie_features_df,open('movie_features_df.pkl','wb'))

In [87]:
query_index = np.random.choice(movie_features_df.shape[0])
print(query_index)


distances, indices = model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

1255

In [94]:
movie_features_df.index[1255]

'COOL RUNNINGS (1993)'

In [95]:
x=np.where(movie_features_df.index=='COOL RUNNINGS (1993)')
x[0][0]

1255

In [91]:
indices

array([[1255, 3771, 2583, 2424, 3627,  453]], dtype=int64)

In [92]:
indices.flatten()[1]

3771

In [93]:
print(movie_features_df.index[query_index])
print("The recommended movies are :")

for i in range(6):
    
    print(movie_features_df.index[indices.flatten()[i]])

COOL RUNNINGS (1993)
The recommended movies are :
COOL RUNNINGS (1993)
MRS. DOUBTFIRE (1993)
HOME ALONE (1990)
HAPPY GILMORE (1996)
MIGHTY DUCKS, THE (1992)
BACK TO THE FUTURE (1985)

In [96]:
pickle.dump(model_knn,open('model.pkl','wb'))

In [ ]:
#clf=pickle.load(open('model.pkl','rb'))

In [ ]:
#clf